extends layout
block head
		link(rel='stylesheet', href='/stylesheets/index.css')
block content
	h1 Welcome to the LASA UIL training site!
	h4 Please create an account or login to an existing one using the buttons in the top right corner.
	h2 What can I do with this site?
	h4 You can practice your CS skills on random questions pulled from previous UIL tests. There's also a yet-to-be-developed programming section where you can upload answers to hands on programming problems.
	br
	br
	br
	h5 Created by Clayton Petty, Jonas Wechsler, Beck Goodloe, Evan Tey, Neil Patil, and Ryan Rice.
	//.workspace
		.background
		.middleground
			.desks
				.left.longdesk
					.top
					.leftleg
						.support
					.rightleg
						.support
				.middle
				.right.longdesk
					.top
					.leftleg
						.support
					.rightleg
						.support