extends layout
block head
		link(rel='stylesheet', href='/stylesheets/index.css')
block content
	h1 Welcome to the LASA UIL training site!
	h4 Please create an account or login to an existing one using the buttons in the top right corner.
	h2 What can I do with this site?
	h4 You can practice your CS skills on random questions pulled from previous UIL tests. There's also a yet-to-be-developed programming section where you can upload answers to hands on programming problems.
	div.workspace
		div.computer
			div.second
				div.lip
					div.screen
						iframe(src="http://lasauil.heroku.com/")
				div.stem
				div.base
		div.computer
			div.first
				div.lip
					div.screen
						iframe(src="http://hackertyper.com/")
				div.stem
				div.base