extends layout
block head
		link(rel='stylesheet', href='/stylesheets/index.css')
block content
	//.workspace
		.background
		.middleground
			.desks
				.left.longdesk
					.top
					.leftleg
						.support
					.rightleg
						.support
				.middle
				.right.longdesk
					.top
					.leftleg
						.support
					.rightleg
						.support