extends layout
block head
		link(rel='stylesheet', href='/stylesheets/index.css')
block content
	h1 Welcome to the LASA UIL Computer Science training site!
	h4 Please create an account or login to an existing one using the buttons in the top right corner.
	h2 What can I do with this site?
	h4 You can practice your Computer Science (CS) skills on random Java questions pulled from previous UIL programming tests. There's also an in development programming section where you can upload answers to hands on programming problems.
	p.toadd Soon to be added:
	ul.toadd 
		li Tests
		li More graphs and statistics
		li Programming problems and test cases pulled from previous tests
	div.workspace
		div.computer
			div.second
				div.lip
					div.screen
						iframe(src="/")
				div.stem
				div.base
		div.computer
			div.first
				div.lip
					div.screen
						iframe(src="/hack")
				div.stem
				div.base