extends layout
block head
    link(rel='stylesheet', href='/stylesheets/listof.css')
block content
    h1= "" + found.username + " corrected: " + found.corrected.length
    each question in found.corrected
        a(href = "/random/"+question.id)
            li=question.id