extends layout
block head
    link(rel='stylesheet', href='/stylesheets/listof.css')
block content
    h1= "" + found.username + " correctly answered: " + found.correct.length
    each question in found.correct
        a(href = "/random/"+question.id)
            li=question.id