extends layout
block head
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    .center
        h1= title
        if(error==="matching")
            h5= "Your username/password combination was invalid"
        if(error==="username")
            h5= "That username does not exist in our database"
        form#formSignIn.inside(name="sign",method="post",action="/signin")
            input#inputUserName.text(type="text", placeholder="username", name="username")
            input#UserPassword.text(type="password", placeholder="password", name="password")
            button#submit(type="submit") submit
