form{
    width: 500px;
}
textarea{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
form *{
    width:500px;
}
form > .left {
    float: left;
}
form > .right {
    float: right;
}
form > .half {
    /*width:445px;*/
    width: 230px;
}