::selection {
    background-color: #7f33cc;
}
::-moz-selection {
    background-color: #7f33cc;
}
body {
    padding: 0px;
    /*padding-top: 36px;*/
    margin: 0;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
    color: rgb(53, 53, 53);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content {
    position: relative;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}
.navbar-content {
    background-color: #E6E6E6;
    margin: 0;
    border-bottom: 1px solid #E6E6E6;
}
.navbar {
    position: relative;
    left: 50%;
    padding: 18px 0 18px 0;
    width: 1000px;
    margin: 0 0 0 -500px;
    height: 36px;
    list-style-type: none;
}
.navbar > input[type="checkbox"] {
    display: none;
}
.navbar > input[type="checkbox"]+.drop {
    display: none;
}
.navbar > input[type="checkbox"]:checked+.drop {
    display: block;
}
.dropnav:hover {
    background: #E6E6E6;
}
.drop {
    position: absolute;
    top: 72px;
    right: 5px;
    width: 130px;
    display: block;
    background: #EBEBEB;
    border-top: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-color: #E6E6E6;
    border-style: solid;
    z-index: 2;
    background: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #E6E6E6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #E6E6E6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #E6E6E6);
    /* Standard syntax */
}
.drop a {
    text-decoration: none;
}
.drop i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.dropnav {
    margin: 0 5px 0 5px;
    padding: 5px;
    color: black;
    vertical-align: bottom;
    font-size: 22px;
    position: relative;
    height: 25px;
    display: block;
}
.ico {
    width: 25px;
    height: 25px;
    display: block;
}
.nav {
    margin: 0 5px 0 5px;
    padding: 5px;
    color: black;
    font-size: 22px;
    position: relative;
    height: 100%;
    display: inline-block;
}
.nav:hover {
    color: #7f33cc;
}
.right {
    float: right;
}
.left {
    float: left;
}
@keyframes inglow {
    0% {
        box-shadow: inset 0 -8px 10px -8px white;
    }
    100% {
        box-shadow: inset 0 -8px 10px -8px rgba(196, 133, 255, 1);
    }
}
@keyframes glow {
    0% {
        box-shadow: inset 0 -8px 10px -8px rgba(196, 133, 255, 1);
    }
    50% {
        box-shadow: inset 0 -8px 5px -8px rgba(196, 133, 255, 1);
    }
    100% {
        box-shadow: inset 0 -8px 10px -8px rgba(196, 133, 255, 1);
    }
}
@-webkit-keyframes inglow {
    0% {
        -webkit-box-shadow: inset 0 -10px 10px -10px white;
    }
    100% {
        -webkit-box-shadow: inset 0 -20px 20px -20px rgba(196, 133, 255, 1);
    }
}
@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(271, 100%, 76.1%);
    }
    10% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(311, 100%, 50%);
    }
    20% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(351, 100%, 50%);
    }
    30% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(31, 100%, 50%);
    }
    40% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(71, 100%, 50%);
    }
    50% {
        -webkit-box-shadow: inset 0 -20px 20px -20px red;
    }
    60% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(151, 100%, 50%);
    }
    70% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(191, 100%, 50%);
    }
    80% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(231, 100%, 50%);
    }
    90% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(271, 100%, 50%);
    }
    100% {
        -webkit-box-shadow: inset 0 -20px 20px -20px hsl(271, 100%, 76.1%);
    }
}
