extends ../layout
block head
    link(rel='stylesheet', href='/stylesheets/listof.css')
block content
    h1= user.username + " correctly answered: " + user.correct.length
    each question in questionlist
        a(href = "/random/"+question._id)
            li=question['test'] + ': ' + question['ques']